<nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow tiyatro-navbar">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/index.html">🎭 PERDELİUM</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">

        <li class="nav-item">
          <a class="nav-link" href="/pages/eserler.html">Eserler</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Yönetim
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
            <a class="dropdown-item" href="/pages/eser-ekle.html">Eser Ekle</a>
            </li>
            <li>
            <a class="dropdown-item" href="/pages/eserlerim.html">Eserlerim</a>
            </li>
        </ul>
        </li>


        <li class="nav-item"  id="navAuthArea">
          <a class="btn btn-outline-light btn-sm" href="/pages/login.html">Giriş</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/pages/geri-bildirim.html">Geri Bildirim</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<div style="height:80px"></div>
